// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    a {
        text-decoration: none;
    }
}

.actions {
    display: flex;
    list-style: none;
    li {
        margin-right: 8px;
    }

}

.list-item {
    display: flex;
    list-style: none;
    li {
        margin-right: 4px;
    }
}